.app-container {

     width: 100%;
   }
 
   h1{
     text-align: center;
   }
 
   table {
     border-collapse: collapse;
     width: 100%;
   }
   
   th,
   td {
     text-align: left;
     padding: 12px;
     font-size: 16px;
   
   }
   
   .container_dev {
    
     position:fixed; left:150px; top:20px;
    
   }
   
 
   /* form {
     display: flex;
     gap: 5px;
   } */
   
  td:last-child {
     display: flex;
     justify-content: space-evenly;
   }
 
 .table_scroll{
   overflow-y: scroll;
   height: 470px;
   backdrop-filter: blur (5.5px);
   -webkit-backdrop-filter: blur(5.5px);
   background: rgba(230, 108, 108, 0.547);
   border: 1px solid rgba(201, 15, 15, 0.1);
   border-radius: 16px;
   box-shadow: 0 4px 15px rgba(24, 17, 17, 0.3);
   color: #232323;
   font-size: 40px;
   overflow: auto;
   padding: 20px;
   text-align: right;
   width: 80%;
   margin: auto;
   text-align: center;
 }
 
 .button_delete{
   height: 30px;
   width: 90px;
   margin: 10px;
   color: white;
   background-color: rgb(230, 29, 29);
   border-radius: 10px;
   border: none;  
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

.button_confirm{
    height: 30px;
    width: 90px;
    margin: 10px;
    color: white;
    background-color: rgb(20, 129, 14);
    border-radius: 10px;
    border: none;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .button_refresh{
   height: 30px;
   width: 100px;
   margin: 20px;
   color: rgb(22, 20, 20);
   background-color: rgb(106, 226, 79);
   border-radius: 10px;
   border: none;  
   float: right;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 
 .button_logout{
   height: 30px;
   width: 100px;
   margin: 20px;
   color: rgb(22, 20, 20);
   background-color: rgb(135, 130, 240);
   border-radius: 10px;
   border: none;  
   float: right;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .button_edit {
  height: 30px;
  width: 90px;
  margin: 10px;
  color: white;
  background-color: rgb(55, 46, 232);
  border-radius: 10px;
  border: none;  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
.button_edit:hover{
  background: rgb(73, 69, 154);
 }
 .button_refresh:hover{
  background: rgb(163, 221, 150);
 }

 .button_logout:hover{
  background: rgb(173, 169, 240);
}
 
.button_delete:hover{
  background: rgb(233, 115, 115);
}

.button_confirm:hover{
   background: rgb(159, 227, 155);
}