
.table_edit{
    overflow-y: scroll;
    height: 470px;
    backdrop-filter: blur (5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(39, 17, 239, 0.547);
    border: 1px solid rgba(201, 15, 15, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(24, 17, 17, 0.3);
    color: #fefafa;
    font-size: 20px;
    overflow: auto;
    padding: 20px;
    text-align: left;
    width: 80%;
    margin: auto;
    /* text-align: center; */
  }

.button_back {
    height: 30px;
    width: 90px;
    margin: 10px;
    color: white;
    background-color: rgb(190, 30, 244);
    border-radius: 10px;
    border: none;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
   
  .button_back:hover{
    background: rgb(211, 104, 247);
   }

   .button_show_data {
    height: 30px;
    width: 90px;
    margin: 10px;
    color: white;
    background-color: rgb(40, 227, 68);
    border-radius: 10px;
    border: none;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
   
  .button_show_data:hover{
    background: rgb(149, 235, 162);
   }

   .button_save_data {
    height: 30px;
    width: 90px;
    margin: 10px;
    color: white;
    background-color: rgb(9, 140, 6);
    border-radius: 10px;
    border: none;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
   
  .button_save_data:hover{
    background: rgb(117, 147, 116);
   }

   .active-sheet {
    height: 30px;
    width: 90px;
    margin: 10px;
    color: rgb(19, 18, 18);
    /* background-color: rgb(9, 140, 6); */
    border-radius: 10px;
    border: none;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
   
  .active-sheet:hover{
    background: rgb(74, 141, 143);
   }
  
   .react-excel {
    padding: 1rem;
    color: white;
    border-radius: 10px;
    border: none;  
   
  }
   
 .label_edi{
  text-align: right;
 }
   